In [1]:
import pandas as dd
data=[1,2,3,4]
df=dd.Series(data)
print(df)

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
import pandas as pd
data = {
'Name': ['mittu', 'pillu', 'karthik'],
'Age': [25, 30, 35],
}
#df = pd.DataFrame(data)
df = pd.DataFrame(data,index=["day1","day2","day3"])
print(df)

         Name  Age
day1    mittu   25
day2    pillu   30
day3  karthik   35

In [3]:
import pandas as pd
df = pd.read_csv('transactions.csv')
#print(df.head()) 
#print(df.tail(5))
#print(df.info())
#print(df.describe())
print(df['Quantity'])

0    1
1    1
2    1
3    3
4    1
5    6
6    1
7    3
8    3
9    4
Name: Quantity, dtype: int64

In [31]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [40]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.tail(3))

   TransactionID TransactionDate  UserID  ProductID  Quantity
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [33]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [34]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [36]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df['Quantity'])

0    1
1    1
2    1
3    3
4    1
5    6
6    1
7    3
8    3
9    4
Name: Quantity, dtype: int64

In [9]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df[['UserID', 'Quantity','ProductID']])

   UserID  Quantity  ProductID
0     7.0         1          2
1     3.0         1          4
2     3.0         1          3
3     1.0         3          2
4     2.0         1          4
5     2.0         6          5
6     3.0         1          4
7     NaN         3          2
8     7.0         3          4
9     3.0         4          4

In [48]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.iloc[9])#PRINT ROW NUMBER DATA

TransactionID              10
TransactionDate    2016-05-08
UserID                    3.0
ProductID                   4
Quantity                    4
Name: 9, dtype: object

In [49]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.iloc[[1, 3, 5, 7, 9]])  # Prints only rows 1, 3, 5, 7, and 9

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [53]:
import pandas as pd
df = pd.read_csv('transactions.csv')
#print(df['UserID'])  # Replace 'column_name' with the actual column name
print(df.iloc[:, [2, 3, 4]])  # Replace with the correct column indices

   UserID  ProductID  Quantity
0     7.0          2         1
1     3.0          4         1
2     3.0          3         1
3     1.0          2         3
4     2.0          4         1
5     2.0          5         6
6     3.0          4         1
7     NaN          2         3
8     7.0          4         3
9     3.0          4         4

# Filtering Data

In [10]:
import pandas as pd
df = pd.read_csv('transactions.csv')
filtered_df = df[df['Quantity'] >= 3]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [61]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [62]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity": "Quant"}, inplace=False)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [4]:
import pandas as divya
df = divya.read_csv("transactions.csv")
df.rename(columns={"Quantity": "Quant", "ProductID": "pid"}, inplace=True)
print(df.head(8))

   TransactionID TransactionDate  UserID  pid  Quant
0              1      2010-08-21     7.0    2      1
1              2      2011-05-26     3.0    4      1
2              3      2011-06-16     3.0    3      1
3              4      2012-08-26     1.0    2      3
4              5      2013-06-06     2.0    4      1
5              6      2013-12-23     2.0    5      6
6              7      2013-12-30     3.0    4      1
7              8      2014-04-24     NaN    2      3

In [78]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             0
pid                0
Quant              0
dtype: int64

In [11]:
df['UserID'].fillna(df['UserID'].mean(), inplace=True)
print(df)

   TransactionID TransactionDate    UserID  ProductID  Quantity
0              1      2010-08-21  7.000000          2         1
1              2      2011-05-26  3.000000          4         1
2              3      2011-06-16  3.000000          3         1
3              4      2012-08-26  1.000000          2         3
4              5      2013-06-06  2.000000          4         1
5              6      2013-12-23  2.000000          5         6
6              7      2013-12-30  3.000000          4         1
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3
9             10      2016-05-08  3.000000          4         4

In [75]:
print(df["Quant"].isnull().sum())

0

In [79]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             0
pid                0
Quant              0
dtype: int64

In [82]:
df.dropna(inplace=True)

In [85]:
df.dropna(subset=["Quant"], inplace=True)

In [86]:
df['UserID'].fillna(df['UserID'].mean(), inplace=True)
print(df)

   TransactionID TransactionDate    UserID  pid  Quant
0              1      2010-08-21  7.000000    2      1
1              2      2011-05-26  3.000000    4      1
2              3      2011-06-16  3.000000    3      1
3              4      2012-08-26  1.000000    2      3
4              5      2013-06-06  2.000000    4      1
5              6      2013-12-23  2.000000    5      6
6              7      2013-12-30  3.000000    4      1
7              8      2014-04-24  3.444444    2      3
8              9      2015-04-24  7.000000    4      3
9             10      2016-05-08  3.000000    4      4

In [6]:
import pandas as pd
df = pd.read_csv("transactions.csv")
#df.dropna(inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [91]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [94]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[False, True])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [98]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(10)) 
#subset = df[df['Quantity'] > 1]
#print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [99]:
subset = df[df['Quantity'] > 1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [100]:
# Using | to combine conditions: Quantity > 1 OR UserID == 3
subset = df[(df['Quantity'] > 1) | (df['UserID'] == 3)]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [101]:
# Using | to combine conditions: Quantity > 1 OR UserID == 3
subset = df[(df['Quantity'] > 1) & (df['UserID'] == 3)]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4

In [102]:
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [4]:
foo = [True, False, True, False,True,True, False, True, False,True] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [108]:
subset = df[df['Quantity'] > 1][['TransactionID',
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [109]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [110]:
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [111]:
# Select the first 3 rows
subset_rows_by_index = df.iloc[:3]
print(subset_rows_by_index)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [5]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [115]:
df['Foo'] = df['UserID'] + df['df.loc[df['UserID'] == 2, 'Quantity'] = new_quantity_valueProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  Foosum
0              1      2010-08-21     7.0          2         1  9.0     9.0
1              2      2011-05-26     3.0          4         1  7.0     7.0
2              3      2011-06-16     3.0          3         1  6.0     6.0
3              4      2012-08-26     1.0          2         3  3.0     3.0
4              5      2013-06-06     2.0          4         1  6.0     6.0

In [136]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.loc[len(df)] = [12,'2022-07-14',44,23,62]
print(df)

    TransactionID TransactionDate  UserID  ProductID  Quantity
0               1      2010-08-21     7.0          2         1
1               2      2011-05-26     3.0          4         1
2               3      2011-06-16     3.0          3         1
3               4      2012-08-26     1.0          2         3
4               5      2013-06-06     2.0          4         1
5               6      2013-12-23     2.0          5         6
6               7      2013-12-30     3.0          4         1
7               8      2014-04-24     NaN          2         3
8               9      2015-04-24     7.0          4         3
9              10      2016-05-08     3.0          4         4
10             12      2022-07-14    44.0         23        62

In [143]:
df['NewColumn'] = df['Quantity'] * 2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  NewColumn
0              1      2010-08-21     7.0          2         1          2
1              2      2011-05-26     3.0          4         1          2
2              3      2011-06-16     3.0          3         1          2
3              4      2012-08-26     1.0          2         3          6
4              5      2013-06-06     2.0          4         1          2

# excersice problem

In [7]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
import pandas as pd

#  Import the dataset
df = pd.read_csv('transactions.csv')

# Print summary of the dataset
print("Summary of the dataset:")
print(df.describe())

Summary of the dataset:
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [9]:

# Print number of attributes (columns)
print("\nNumber of attributes (columns):", df.shape[1])

Number of attributes (columns): 5

In [157]:
#Print number of records (rows)
print("Number of records (rows):", df.shape[0])

Number of records (rows): 10

In [10]:
#Get the row names (index)
print("\nRow names (index):", df.index.tolist())

Row names (index): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# Get the column names
print("\nColumn names:", df.columns.tolist())

Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [9]:
print("\nTop 10 records:")
print(df.head(10))

Top 10 records:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [12]:
# Step 8: Change the name of column "Quantity" to "Quant"
df.rename(columns={'Quantity': 'Quant'}, inplace=True)

In [13]:
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [11]:
# Step 9: Change the names of columns "ProductID" and "UserID"
df.rename(columns={'ProductID': 'ItemID', 'UserID': 'CustomerID'}, inplace=True)

In [17]:
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [22]:
df.rename(columns={'Quant':'Quantity'},inplace=True) 
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [23]:
# 10. Order rows by Quantity (ascending) and TransactionDate (descending)
df_sorted = df.sort_values(by=['Quantity', 'TransactionDate'], ascending=[True, False])
print(df_sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [29]:
#11.Set column order: ProductID, Quantity, TransactionDate, TransactionID, UserID
df_reordered = ["ProductID", "Quantity", "TransactionDate", "TransactionID", "UserID"]
print(df[df_reordered])

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [30]:
# 12. Make UserID the first column
column_order = ['UserID', 'ProductID', 'Quantity', 'TransactionDate', 'TransactionID']
df_reordered2 = df[column_order]
print(df_reordered2.head())

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5

In [35]:
# 13. Extracting arrays from a DataFrame - Get the 2nd column
second_column = df.iloc[:, 1]
print(second_column)

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

In [36]:
# 14. Get the ProductID array
product_id_array = df['ProductID'].values
print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]

In [39]:
# 15. Get the ProductID array using a variable
var_name = "ProductID"
product_id_array_var = df[var_name].values
print(product_id_array_var)

[2 4 3 2 4 5 4 2 4 4]

#Data Mining Lab Manual AY:19-20 Page 5

In [43]:
### 16. Subset rows 1, 3, and 6 (indexing starts from 0)
subset = df.iloc[[1, 3, 6]]
print("\nSubset rows 1, 3, and 6:\n", subset)

Subset rows 1, 3, and 6:
    TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [13]:
### 17. Subset rows excluding 1, 3, and 6
subset = df.drop([1, 3, 6])
print("\nSubset excluding rows 1, 3, and 6:\n", subset)

Subset excluding rows 1, 3, and 6:
    TransactionID TransactionDate    UserID  ProductID  Quantity
0              1      2010-08-21  7.000000          2         1
2              3      2011-06-16  3.000000          3         1
4              5      2013-06-06  2.000000          4         1
5              6      2013-12-23  2.000000          5         6
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3
9             10      2016-05-08  3.000000          4         4

In [16]:
# 18. Subset the first three rows
rows = df.iloc[:3]  
print("First Three Rows:\n",rows)

First Three Rows:
    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [17]:
# 19. Subset the last 2 rows
lastrow= df.iloc[-2:]
print(lastrow)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [18]:
# 20. Subset rows excluding the last two rows
lastrowexclu = df.iloc[:-2]
print(lastrowexclu)

   TransactionID TransactionDate    UserID  ProductID  Quantity
0              1      2010-08-21  7.000000          2         1
1              2      2011-05-26  3.000000          4         1
2              3      2011-06-16  3.000000          3         1
3              4      2012-08-26  1.000000          2         3
4              5      2013-06-06  2.000000          4         1
5              6      2013-12-23  2.000000          5         6
6              7      2013-12-30  3.000000          4         1
7              8      2014-04-24  3.444444          2         3

In [21]:
### 21. Subset rows excluding the first three rows
firstthreerow = df.iloc[3:]
print(firstthreerow )

   TransactionID TransactionDate    UserID  ProductID  Quantity
3              4      2012-08-26  1.000000          2         3
4              5      2013-06-06  2.000000          4         1
5              6      2013-12-23  2.000000          5         6
6              7      2013-12-30  3.000000          4         1
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3
9             10      2016-05-08  3.000000          4         4

In [22]:
# 22. Subset rows where Quantity > 1
quantity = df[df["Quantity"] > 1]
print(quantity)

   TransactionID TransactionDate    UserID  ProductID  Quantity
3              4      2012-08-26  1.000000          2         3
5              6      2013-12-23  2.000000          5         6
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3
9             10      2016-05-08  3.000000          4         4

In [23]:
# 23. Subset rows where UserID = 2
userid2 = df[df["UserID"] == 2]
print(userid2)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [25]:
# 24. Subset rows where Quantity > 1 and UserID = 2
quantityuserid_2 = df[(df["Quantity"] > 1) & (df["UserID"] == 2)]
print(quantityuserid_2)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [30]:

# 25. Subset rows where Quantity + UserID > 3
quantityuserid3 = df[(df["Quantity"] + df["UserID"]) > 3]
print(quantityuserid3)

   TransactionID TransactionDate    UserID  ProductID  Quantity
0              1      2010-08-21  7.000000          2         1
1              2      2011-05-26  3.000000          4         1
2              3      2011-06-16  3.000000          3         1
3              4      2012-08-26  1.000000          2         3
5              6      2013-12-23  2.000000          5         6
6              7      2013-12-30  3.000000          4         1
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3
9             10      2016-05-08  3.000000          4         4

In [37]:
### 26. Subset rows where an external array, foo, is True
fo = [True, False, True, False, True, False, True, False, True, False] 
s = df[fo]
print( s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [43]:
### 27. Subset rows where an external array, bar, is positive
bar = [1, -1, 2, -3, 4, 0, 5, -2, 6, 7]  
s = df[[b > 0 for b in bar]]
print( s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [49]:
# Create external arrays foo and bar for demonstration
foo = [True, False, True, False, True, False, True, False, True, False] 
bar = [1, -1, 2, -3, 4, 0, 5, -2, 6, 7]

In [50]:
### 28. Subset rows where foo is True OR bar is negative
subset_foo_true_or_bar_negative = df[(foo) | (pd.Series(bar) < 0)]
print("\nSubset where foo is True OR bar is negative:\n", subset_foo_true_or_bar_negative)

Subset where foo is True OR bar is negative:
    TransactionID TransactionDate    UserID  ProductID  Quantity
0              1      2010-08-21  7.000000          2         1
1              2      2011-05-26  3.000000          4         1
2              3      2011-06-16  3.000000          3         1
3              4      2012-08-26  1.000000          2         3
4              5      2013-06-06  2.000000          4         1
6              7      2013-12-30  3.000000          4         1
7              8      2014-04-24  3.444444          2         3
8              9      2015-04-24  7.000000          4         3

/tmp/ipykernel_3673/1243856924.py:2: FutureWarning: Logical ops (and, or, xor) between Pandas objects and dtype-less sequences (e.g. list, tuple) are deprecated and will raise in a future version. Wrap the object in a Series, Index, or np.array before operating instead.
  subset_foo_true_or_bar_negative = df[(foo) | (pd.Series(bar) < 0)]

In [53]:
### 29. Subset rows where foo is NOT True AND bar is NOT negative
s= df[(~pd.Series(foo)) & (pd.Series(bar) >= 0)]
print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4

In [54]:
### 30. Subset by columns 1 and 3 (index-based)
subset_cols_1_3 = df.iloc[:, [1, 3]]
print(subset_cols_1_3)

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [56]:
### 31. Subset by columns TransactionID and TransactionDate (name-based)
s = df[['TransactionID', 'TransactionDate']]
print( s)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [57]:
### 32. Subset by TransactionID and TransactionDate with logical operator
s = df.loc[df['TransactionID'] > 2, ['TransactionID', 'TransactionDate']]
print(s)

   TransactionID TransactionDate
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [58]:
### 33. Subset columns by a variable list of column names
ss= ['TransactionID', 'ProductID', 'Quantity']
sss = df[ss]
print(sss)

   TransactionID  ProductID  Quantity
0              1          2         1
1              2          4         1
2              3          3         1
3              4          2         3
4              5          4         1
5              6          5         6
6              7          4         1
7              8          2         3
8              9          4         3
9             10          4         4

In [59]:
## 34. Subset columns excluding a variable list of column names
ss = ['UserID', 'Quantity']
s = df.drop(columns=ss)
print(s)

   TransactionID TransactionDate  ProductID
0              1      2010-08-21          2
1              2      2011-05-26          4
2              3      2011-06-16          3
3              4      2012-08-26          2
4              5      2013-06-06          4
5              6      2013-12-23          5
6              7      2013-12-30          4
7              8      2014-04-24          2
8              9      2015-04-24          4
9             10      2016-05-08          4

In [60]:
### 35. Inserting and updating values
df.loc[0, 'Quantity'] = 99  
df.loc[df['TransactionID'] == 3, 'ProductID'] = 10 
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2        99
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0         10         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [61]:
### 36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [62]:
### 37. Insert a new column Foo = UserID + ProductID
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2        99   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0         10         1  13.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0